<div class="center">
  <h2>Position: {{position.PositionName}}</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="name.errors">
              <label for="PositionName">Position Name:</label>
              <input #name="ngModel" [(ngModel)]="position.PositionName" class="form-control" id="PositionName" type="text" name="PositionName" required />
              <span class="help-block" *ngIf="name.errors && name.errors.required">Position name is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [class.has-error]="description.errors">
              <label for="PositionDescription">Description:</label>
              <textarea #description="ngModel" [(ngModel)]="position.PositionDescription" class="form-control" id="PositionDescription" rows="5" name="PositionDescription" required></textarea>
              <span class="help-block" *ngIf="description.errors && description.errors.required">Position description is required</span>
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
        <input type="submit" class="btn btn-primary pull-right" value="Update Position" [disabled]="!f.valid" />
        <br />
        <br />
      </form>
    </div>
  </div>
  <br />
  <div class="alert alert-success" *ngIf="successMessage">
    <strong>Success!</strong> Position: "{{position.PositionName}}" was successfully saved.
  </div>
  <div class="alert alert-danger" *ngIf="failMessage">
    <strong>Error!</strong> Position: "{{position.PositionName}}" could not be saved.
  </div>
</div>
<br /><br />